.container {
  width: 100%;
}

.footnote {
  display: block;
  text-align: center;

  border-top: 1px solid var(--text-black);
  padding: 1.8rem;
  margin: 0 auto;
  max-width: 70rem;
}

.creator:hover {
  text-decoration: underline;
}
