@import url(./general/normalize.css);
@import url(./general/variables.css);
@import url(./general/reset.css);
@import url(./general/font.css);

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-black);
}

.btn {
  text-transform: capitalize;
  text-align: center;
  width: 20rem;
  max-width: 150px;
  padding: 0.85rem;
  margin: 0.5rem;
  cursor: pointer;
  border: 0.1rem solid var(--header-color);
  color: var(--header-color);
  background-color: #fff;
}

.btn:hover {
  background-color: var(--header-color);
  color: #fff;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
}

.active {
  /* border: 1px solid red; */
}
