.container {
  width: 100%;
}

.list_container {
  border-bottom: 1px solid var(--text-black);
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 70rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.5rem;
}

.list_item:first-child {
  font-size: 3rem;
  font-weight: bolder;
  margin-right: auto;
}

.list_item:first-child .link {
  color: var(--header-color);
}

.list_item:first-child .link:hover {
  color: var(--text-black);
}

.list_item:not(:first-child) .link {
  padding: 0.5rem 1.5rem;
}

.list_item:not(:first-child) .link:hover {
  color: #fff;
  background: var(--header-color);
}
