.header_container {
  /* border: 1px solid red; */
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.hud_container {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

.hud_item {
  /* border: 1px solid #000; */
  /* display: flex; */
  text-align: center;
}

.hud_title {
  font-size: 0.85rem;
  font-weight: 400;
}

.hud_value {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--header-color);
}

.question_container {
  /* border: 1px solid blue; */
  max-width: 700px;
  margin: 1.5rem 3.5rem;
}

.question {
  margin-bottom: 2.5rem;
}

.option {
  /* background-color: white; */
  display: flex;
  width: 100%;
  margin: 1rem 0;
  /* border: 2px solid red; */
  background: transparent;
  z-index: 1000;
  /* border: 0.1rem solid rgb(86, 165, 235, 0.25); */
}

.option:hover {
  cursor: pointer;
  /* outline: 2px solid red; */
}

.option_label {
  color: white;
  padding: 1rem 1.5rem;
  background: var(--header-color);
  z-index: -1000;
  text-transform: uppercase;
}

.option_text {
  background-color: white;
  padding: 1rem;
  z-index: -1000;
  width: 100%;
}
