.header_container {
  width: 100%;
  max-width: 800px;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.question_container {
  max-width: 700px;
  margin: 1.5rem 3.5rem;
}

.question {
  margin-bottom: 2.5rem;
}

.option {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  background: transparent;
  z-index: 1000;
  transition: 0.3s;
}

.option:hover {
  cursor: pointer;
  /* box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5); */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.option_label {
  color: white;
  padding: 1rem 1.5rem;
  background: var(--header-color);
  z-index: -1000;
  text-transform: uppercase;
}

.option_text {
  background-color: white;
  padding: 1rem;
  z-index: -1000;
  width: 100%;
}
