:root {
  --invalid: red;
  --valid: green;
  --normal: #e8e8e8;
  --text-black: #333333;
  --bg-color: #ecf5ff;
  --header-color: #56a5eb;
}
/* 
.decoration {
  text-decoration: underline;
}

.inherit--color {
  color: inherit;
} */
